<h2 class="text-center pt-2 pb-2 bg-color-light font-color-red font-weight-bold shadow-sm">Articles</h2>
<%= render 'article' %>
<div class="my-4"></div>
<%= render 'shared/pagination', obj: @articles %>
<div class="my-5"></div>
