<h1 class="display-4 text-center mt-4 mb-4 font-color-dark-red">Articles</h1>
<hr class="col-sm-12 col-md-10 col-lg-8 bg-color-dark-red">
<%= render 'shared/pagination', obj: @articles %>
<%= render 'article' %>
<%= render 'shared/pagination', obj: @articles %>
<div class="my-5"></div>
