<h1 class="text-center mt-4 mb-4">Articles</h1>
<hr class="my-4 mr-5 ml-5">
<%= render 'shared/pagination', obj: @articles %>
<%= render 'article' %>
<%= render 'shared/pagination', obj: @articles %>
