<h2 class="text-center pt-3 pb-3 bg-color-blue font-color-light font-weight-bold shadow">Articles</h2>
<div class="my-4"></div>
<%= render 'article' %>
<div class="my-4"></div>
<%= render 'shared/pagination', obj: @articles %>
