<h1 class="display-4 text-center mt-5 mb-5 font-color-dark-red">Articles</h1>
<hr class="col-sm-12 col-md-10 col-lg-8 bg-color-dark-red mb-5">
<%= render 'shared/pagination', obj: @articles %>
<div class="my-4"></div>
<%= render 'article' %>
<div class="my-4"></div>
<%= render 'shared/pagination', obj: @articles %>
<div class="my-5"></div>
