<h2 class="text-center pt-3 pb-3 bg-color-blue font-color-light font-weight-bold shadow-lg">Liked Articles</h2>
<div class="my-4"></div>

<% if @articles.count > 0 %>
  <%= render 'articles/article' %>
  <div class="my-4"></div>
  <%= render 'shared/pagination', obj: @articles %>
<% else %>
  <h5 class="text-center font-italic font-weight-light mt-3">You have no liked articles at this time.</h5>
<% end %>
