<% content_for :body_class, "page-container" %>

<div class="container">
  <div class="col-sm-12 col-lg-6 offset-lg-3 col-md-10 offset-md-1 jumbotron text-center rounded bg-color-light-tint font-color-dark-red shadow-lg rounded">
    <div class="jumbotron-text">
      <h1 class="display-4">Alpha Blog</h1>
      <hr class="my-4">
      <p class="lead">This is a simple blogging application that allows you to read and write blogs, sort by categoires, and check out other bloggers.</p>
      <hr class="my-4">
      <p>This was created using Rails 6, Bootstrap 4, BCrypt for user authentication.</p>
      <%= link_to  "Get Started!", new_user_registration_path , class: "btn btn-lg bg-color-blue font-color-light mt-3"  %>
    </div>
  </div>
</div>
