@import 'theme';

.article-desciption {
  text-align: justify !important;
  text-justify: inter-word !important;
  font-size: 1.1em;
  font-family: "Lato";
}

.article-show-description {
  text-align: justify !important;
  text-justify: inter-word !important;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  font-family: "Lora";
  a {
    color: $color-blue;
    font-weight: bold;
  
    &:hover {
      color: $color-red;
      text-decoration: none;
    }
  }
}

@media (max-width: 575.98px) {
  .article-show-description {
    font-size: 1.15em;
  }
}

@media (max-width: 419.98px) {
  .article-show-description {
    font-size: 1em;
  }
}



.article-image {
  object-fit: cover;
  width: 100%;
  height: 212px;
}

.article-info {
  height: 212px;
  display: flex;
  align-items: center;
}

.article-show-header-image {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

.article-show-container {
  background-color: $color-light-tint !important;
}

.like {
  font-size: 2.5em;
  color: $color-light-tint;
  -webkit-text-stroke: 2px $color-red;
  transition: all 0.3s ease 0.0s;
  &:active {
    transform: scale(1.7);
    transition: all 0.5s ease 0.0s;
  }
}

.liked {
  color: $color-red;
}
