@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

.page-container {
  flex: 1 0 auto;
  background-color: #dce1e3;
}

#sticky-footer {
  flex-shrink: none;

  a:hover {
    text-decoration: none;
    color: #b73225;
  }
}

#form {
  padding: 64px 32px;

  h1 {
    color: #004e7c;
    letter-spacing: -1px;
  }

  .form-control {
    &:hover {
      border-color: #004e7c;
    }
  }

  input[type="submit"]:hover {
    border-color: none !important;
    color: 5c5f58;
  }
}


#category-title {
  margin-bottom: 0;
}

#category-badge {
  background-color: #343A40;
}

#category-badge a {
  color: white;
  text-decoration: none;
}
