@import 'bootstrap/dist/css/bootstrap';
@import 'theme';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
 }

.body-container {
  flex: 1 0 auto;
  background-color: $color-light;
}

.message-parent {
  position: relative;
}

.message-anchor {
  position: absolute;
  width: 100%;
  line-height: 72px;
  top: 66px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
}
