@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

.page-container {
  flex: 1 0 auto;
  background-color: #dce1e3;
}

#sticky-footer {
  flex-shrink: none;
  a:hover {
    text-decoration: none;
    color: #b73225;
  }
}

#form {
  background-color: #34403a;
}

#category-title {
  margin-bottom: 0;
}

#category-badge {
  background-color: #343A40;
}

#category-badge a {
  color: white;
  text-decoration: none;
}
