@import 'theme';

.forms {

  h1 {
    color: $color-blue;
    letter-spacing: -1px;
  }

  .form-control {
    background-color: $color-light-tint !important;
    
    &:hover {
      border-color: $color-blue !important;
    }
  }

  input[type="submit"]:hover,
  a:hover {
    border-color: none !important;
    color: $color-dark;
  }

  .custom-select {
    background-color: $color-light-tint;
    option:checked, option:hover {
      background-color: $color-blue;
      color: $color-light;
    }
    &:hover {
      border-color: $color-blue;
    }
  }

  a {
    color: $color-blue;
    &:hover {
      text-decoration: none;
      color: $color-red;
    }
  }
}

.article-description-input {
  min-height: 400px;
  background-color: $color-light-tint !important;
  &:hover {
    border-color: $color-blue;
  }
}
