@import 'theme';

#form {
  padding: 64px 32px;

  h1 {
    color: $color-blue;
    letter-spacing: -1px;
  }

  .form-control {
    background-color: $color-light-shade;
    
    &:hover {
      border-color: $color-blue;
    }
  }

  input[type="submit"]:hover,
  a:hover {
    border-color: none !important;
    color: $color-dark;
  }

  .custom-select {
    background-color: $color-light-shade;
    option:checked, option:hover {
      background-color: $color-blue;
      color: $color-light;
    }
  }

}

// Remove Action Text image upload button
.trix-button-group--file-tools {
  display: none !important;
}

.trix-button-row { 
  display: flex !important; 
  flex-wrap: wrap !important; 
  justify-content: space-between !important; 
} 

.trix-button-group {
  margin-left: 0 !important;
}

.article-description {
  min-height: 400px;
}
