@import 'theme';

.jumbotron {
  margin-bottom: 0;
  h1 {
    letter-spacing: -1px;
    color: $color-blue;
    text-transform: uppercase;
    font-weight: bold !important;
  }
  a:hover {
    background-color: $color-red;
    color: $color-light;
  }
}
