@import 'theme';

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: $color-red !important;
}

.nav-link {
  color: $color-dark-red !important;
  letter-spacing: 1px;
}

#logo {
  color: $color-red;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}


nav .dropdown-item {
  color: $color-dark-red !important;

  &:hover,
  &:focus {
    background-color: $color-light !important;
    color: $color-red !important;
  }
}

.navbar-toggler {
  font-size: 28px;

  &:hover,
  &:focus,
  &:active {
    i {
      color: $color-red !important;
    }
    border-color: $color-dark-red !important;
  }
}

.sign-up {
  padding: 8px;
}

.nav-icon {
  width: 16px;
  height: 16px;
}

.navbar {
  border-color: rgba(89, 28, 11, 0.10) !important;
}
