.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #b73225 !important;
}

.nav-link {
  color: #591c0b !important;
  letter-spacing: 1px;
}

#logo {
  color: #b73225;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.dropdown-item {
  color: #591c0b !important;

  &:hover,
  &:focus {
    background-color: #dce1e3 !important;
    color: #b73225 !important;
  }
}

.navbar-toggler {
  font-size: 28px;
  border-color: #591c0b !important;

  &:hover,
  &:focus,
  &:active {
    i {
      color: #b73225 !important;
    }
    border-color: #b73225 !important;
  }
}

.nav-icon {
  width: 16px;
  height: 16px;
}

.nav-divider {
  border-color: rgba(89,28,11,0.25);
}
