$color-red: #b73225;
$color-blue: #004e7c;
$color-dark-red: #591c0b;
$color-dark: #5c5f58;
$color-light: #dce1e3;
$color-light-shade: #dfe4e5;
$color-light-tint: #eaedee;

.font-color-red {
  color: $color-red;
}

.font-color-blue {
  color: $color-blue;
}

.font-color-dark {
  color: $color-dark;
}

.font-color-light {
  color: $color-light;
}

.font-color-light-shade {
  color: $color-light-shade;
}

.font-color-light-tint {
  color: $color-light-tint;
}

.font-color-dark-red {
  color: $color-dark-red;
}

.bg-color-red {
  background-color: $color-red;
}

.bg-color-blue {
  background-color: $color-blue;
}

.bg-color-dark {
  background-color: $color-dark;
}

.bg-color-light {
  background-color: $color-light;
}

.bg-color-light-shade {
  background-color: $color-light-shade;
}

.bg-color-light-tint {
  background-color: $color-light-tint;
}

.bg-color-dark-red {
  background-color: $color-dark-red;
}
