$color-green: #5e8c61;
$color-dark-green: #4e6151;
$color-dark: #3b322c;
$color-blue: #92dce5;
$color-yellow-green: #d2f898;

.font-color-green {
  color: $color-green;
}

.font-color-dark-green {
  color: $color-dark-green;
}

.font-color-dark {
  color: $color-dark;
}

.font-color-blue {
  color: $color-blue;
}

.font-color-yellow-green {
  color: $color-yellow-green;
}

.bg-color-green {
  background-color: $color-green;
}

.bg-color-dark-green {
  background-color: $color-dark-green;
}

.bg-color-dark {
  background-color: $color-dark;
}

.bg-color-blue {
  background-color: $color-blue;
}

.bg-color-yellow-green {
  background-color: $color-yellow-green;
}
