<footer id="sticky-footer" class="py-4 bg-color-light">
  <div class="container text-center font-color-red">
    <small><em>Copyright &copy; <%= link_to  "Logan McNeely", "#", class:"font-color-red" %></em></small>
  </div>
</footer>
