<footer id="sticky-footer" class="py-4 bg-color-dark-green text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to  "Logan McNeely", "#" %></small>
  </div>
</footer>
