<% flash.each do |name, msg| %>
  <% alert_type = name == "notice" ? "alert-success" : "alert-danger" %>
  <div class="message-anchor alert <%= alert_type %> fade show pt-0 pb-0 mb-0 text-center" role="alert">
    <%= msg %>
  </div>
<% end %>
